<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="" />
    <add key="ClientServicesPort" value="7847" />
    <add key="ServerInstance" value="" />
    <add key="TenantId" value="Default" />
    <add key="ClientServicesProtectionLevel" value="EncryptAndSign" />
    <add key="UrlHistory" value="" />
    <add key="ClientServicesCompressionThreshold" value="64" />
    <add key="ClientServicesChunkSize" value="28" />
    <add key="MaxNoOfXMLRecordsToSend" value="1048576" />
    <add key="MaxImageSize" value="26214400" />
    <add key="ClientServicesCredentialType" value="Windows" />
    <add key="ACSUri" value="" />
    <add key="AllowNtlm" value="false" />
    <add key="ServicePrincipalNameRequired" value="true" />
    <add key="ServicesCertificateValidationEnabled" value="false" />
    <add key="DnsIdentity" value="" />
    <add key="HelpServer" value="" />
    <add key="HelpServerPort" value="" />
    <add key="ProductName" value="" />
    <add key="UnknownSpnHint" value="" />
  </appSettings>
</configuration>